@charset "UTF-8";

.header{   
    &-wrap{
        position:relative; 
        width:100%;
        height:15rem;
        border-bottom:1px solid $gray2;
        & .logo{
            position:absolute;
            top:5.8rem;
            left:7rem;
            width:11rem;
            height:3.5rem;
            img{
                width:100%;
            }
        }
        & .gnb-btn{
            position:absolute; 
            top:5rem;
            right:7rem;
            width:4.8rem;
            height:4.8rem;
            padding:0.4rem;
            &>i{
                position:relative;
                display:block;
                padding:0; 
                margin:1rem 0 0 0;
                width:4rem;
                height:2px;
                background:$gray8;              
            }
            &>i:first-child{
                margin-top:.8rem;
            }
        }
        .lang-select{
            position:absolute;
            top:4.5rem;
            right:12.8rem;
        }
    }
}
/*header select*/
.select-wrap{
    position:relative;
    display:inline-block;   
    & .select-title{
        @include fontSize('lg');
        padding:1.4rem 6.5rem 1.4rem 3rem;
        background:url('/assets/images/common/btn_gnb_global_open_b.svg') calc(100% - 3rem) center no-repeat;
        background-size:2.4rem 2.4rem;
        cursor: pointer;
        // max-width:400px;
        // @include ellipsis;
    }     
}
.select-list-wrap{
    display:none;
    position:absolute;
    z-index:30;
    width:100%;
    border:1px solid $gray3;
    background:$white;
    @include  fontSize('medi2');
    .select-list{
        &__items{                
            &>a{
                display:block;
                padding:2rem 3.2rem;
                &:hover{
                    background:$grayGreen1;
                    color:$accent;
                }
            }
        }
    }
}

