@charset "UTF-8";

.header{   
    &-wrap{
        position:relative; 
        width:100%;
        height:15rem;
        background:#CCC;
        & .logo{
            position:absolute;
            top:5.8rem;
            left:7rem;
            width:11rem;
            height:3.5rem;
            background:#f0f;
            img{
                width:100%;
            }
        }
        & .gnb-btn{
            position:absolute; 
            top:5rem;
            right:7rem;
            width:4.8rem;
            height:4.8rem;
            padding:0.4rem;
            background:#f0f;
            &>i{
                position:relative;
                display:block;
                padding:0; 
                margin:1rem 0 0 0;
                width:4rem;
                height:2px;
                background:#111;               
            }
            &>i:first-child{
                margin-top:.8rem;
            }
        }
    }
}