@charset "UTF-8";

// ---------------------------------------------------------------
// Layouts > Layout
// ---------------------------------------------------------------

html {
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
  }
body {
    position: relative;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
    font-weight:400;
    font-size: 1.6rem;
    font-weight:400;
    color: $gray8;
    line-height: 1.57;
    letter-spacing: 0px;
    margin: 0;
    -webkit-text-size-adjust: none;
    width:100%;
    overflow-x: hidden;
}
.scrollOff{
  position:fixed;
  overflow: hidden;
  width:100%;
  height: 100%;
}
.dimmed{
  position:fixed;
  z-index:49;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0,  0.6);
}
.container{
  width:100%; 
}
.container-header{
  position:relative;
  padding:12rem 3rem 12rem 3rem;
  &.container-header-img{
    margin-bottom:12rem;
    padding-bottom:46rem;
    .container-header__text{margin-top:0;}
  }
  position:relative;
  max-width:139.6rem;
  margin:0 auto;
  overflow:hidden;
  &__title{  
    font-size:12rem;
    font-weight:700;
    line-height:12rem;
    letter-spacing: -0.5rem;
    color:$gray8;
    height:auto;
    overflow:hidden;
    &>div{
      position:relative;
      height:auto;
      overflow:hidden;
      &>span{
        position:relative;
        display:block;
        top:100%;
        opacity:0;
      }
      & + div{margin-top:2.6rem;}
    }
  }
  &__text{
    &.pc{display:block;}
    &.mobile{display:none;}
    position:relative;
    width:50%;
    opacity:0;
    top:10%;
    left:50%;
    margin-top:12rem;
    @include fontSize('fontS04');
    text-align:left;
    color:$gray7;
  }
}
.container-header-fixImg{
  position:fixed;
  width:100%;
  max-width:174rem;
  height:70rem;
  overflow:hidden;
  left:0;
  top:0;
  z-index:-1;
  img{
    max-width: none;
    position:absolute;
    top : -77rem;
  }
}
.container-contents{
  width:100%;
  background:$white;
}
.container-contents-wrap{
  max-width:139.6rem;
  margin:0 auto;
  padding:0 3rem;
}