@charset "UTF-8";

// ---------------------------------------------------------------
// Layouts > Layout
// ---------------------------------------------------------------

html {
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
  }
body {
    position: relative;
    font-family: "Pretendard", "맑은 고딕", "돋음", dotum, sans-serif;
    font-weight:400;
    font-size: 1.6rem;
    color: $gray8;
    line-height: 1.57;
    letter-spacing: -0.5px;
    margin: 0;
    -webkit-text-size-adjust: none;
}

.container{
  width:100%;
  max-width:139.6rem;
  margin:0 auto;
  padding:0 3rem;
  background:#f00;
}