<!-- 포레나 단지 검색 // -->
<div id="faq-search" class="pop-layer ty-s" data-uipopset=''>
  <h2 class="pop-title">포레나 단지 검색</h2>
  <div class="pop-cont pd-s">
    <!-- search // -->
    <div class="search-box">
    <form id="frmPopUpApt">
      <div class="keyword" data-delete='wrap'>
        <label class="blind" for="f-search">검색폼</label>
        <input type="text" id="f-search" name="strVal" class="fm-ipt" placeholder="단지명을 입력하세요." data-delete='ipt' />
        <button type="button" data-delete='btn' class="fm-del"><span class="ir i-del-2">삭제</span></button>
        <button type="button" id="btnAptsearch" class="fm-btm"><span class="ir i-src-2">검색</span></button>
      </div>
      </form>
    </div>
    <!-- // search -->

    <!-- pop-scroll-wrap // -->
    <div class="pop-scroll-wrap">
      <ul class="pop-list ty-2" id="js-apt">
       <!--  <li><a href="#none" title="6250074401" >포레나 노원</a></li> -->
      </ul>
    </div>
    <!-- // pop-scroll-wrap -->
  </div>
  <button type="button" data-uipop='0' class="pop-btn-close"><span class="blind">닫기</span></button>
</div>
<!-- // 포레나 단지 검색 -->

<!-- 지도보기 // -->
<div id="pop-map" class="pop-layer ty-f" data-uipopset=''>
  <h2 class="blind">지도보기</h2>
  <div class="pop-cont">
    <div class="map" id="map" style="width:100%; height:800px"></div>
    <dl class="def-block">
      <dt id="js-displayname">도마 e편한세상포레나</dt>
      <dd>
        <span class="col" id="js-place">대전광역시 서구 도마동 179-30번지 일원</span>
        <span class="col" id="js-households">총 1,881가구</span>
      </dd>
    </dl>
  </div>
  <button type="button" data-uipop='0' class="pop-btn-close pos-2"><span class="blind">닫기</span></button>
</div>
<!-- // 지도보기 -->

