{% if me is null %}
<button type="button" id="btnTopLogin" class="btn">로그인</button>
{% else %}
<button type="button" class="btn" data-act='title'><span class="off">마이 포레나</span><span class="on ir-b i-close">CLOSE</span></button>
  <div class="head-myforena" data-act='cont'>
    <div class="user-info">
    {% if me.memType == "S005002" %}
      <span class="user-case"><span class="case">계약회원</span> {{me.name}}님 환영합니다</span>
    {% else %} 
       <span class="user-case"><span class="case normal">일반회원</span> {{me.name}}님 환영합니다</span> 
    {%endif%} 
      <span class="btns">
        <span class="col"><a href="/user/my/info">개인정보관리</a></span>
        <span class="col"><button id="btnTopLogOut" type="button">로그아웃</button></span>
      </span>
    </div>
   
    <div class="user-box">
      <dl class="user-data">
      	<dt class="user-data-title">중도금 납부 조회</dt>
       {% if me.memType == "S005002"%}
       		{% if me.isAuth == "Y"  %}
	        <!-- 계약회원 본인 인증 후일 경우 // -->
	        <dd>
	          <span class="subj">{{me.counts}}차 중도금 납입일</span>
	          <strong class="num">{{me.reciDate | date("yyyy.MM.dd") }}</strong>
	        </dd>
	        <dd>
	          <span class="subj">약정금액</span>
	          <strong class="num">{{me.agreeAmt}}</strong>
	        </dd>
	        <dd>
	          <span class="subj">납입금액</span>
	          <strong class="num">{{me.reciAmt}}</strong>
	        </dd>
	         <a href="/customer/pay/payment" class="user-more ir-a i-arr-r-5">자세히 보기</a>  <!-- // 계약회원 본인 인증 후일 경우-->
        	{% else %}
       	 	<dd class="abs-btn"><a href="/customer/pay/index" class="user-btn">중도금 납부 조회</a></dd> <!--  계약회원 본인 인증 전일 경우 -->
	        {% endif %}
	    {% else %}
        	<dd class="abs-btn"><a href="/user/user-auth" class="user-btn">계약회원 전환</a></dd> <!--  // 일반회원일 경우 -->
        {% endif %}
      </dl>
     
    </div>
   
    <div class="user-box">
      <dl class="user-data-2">
        <dt class="user-data-title">내 문의내역</dt>
        {% for item in result.data.inquiry %}
	    <dd>
          <a href="/customer/inquiry/view?strNo={{item.ingNo}}">
            <span class="cat">{{item.divisionName}}</span>
            <span class="text">{{item.subject}}</span>
            {% if item.statuscode == "900" %}
	       	<span class="flag">답변완료</span>
	       	{% else %}
	       	<span class="flag">검토중</span>
	       	{% endif %}
          </a>
        </dd>
	  {% else %}
	  <dd class="user-no-data">문의하신 이력이 없습니다.</dd> 
      {% endfor %}
        <!-- 데이터 있을 경우 // -->
        <!-- // 데이터 있을 경우 -->
        <!-- <dd class="user-no-data">문의하신 이력이 없습니다.</dd> // 데이터 없을 경우 -->
      </dl>
      <a href="/customer/inquiry/add" class="user-more ir-a i-arr-r-5">문의하기</a>
    </div>
    <div class="user-box" >
      <dl class="user-data-3">
        <dt class="user-data-title">포레나 뉴스</dt>
        {% for new in result.data.news %}
        <dd>
          <a href="/community/news/view?strNo={{new.cno}}">
          	{%if item.fileName is null or item.fileName is empty %} 
            	<span class="thumb"></span> <!-- 이미지 없을 경우 -->
            {%else%}
            	<span class="thumb"><img src="{{item.filePath}}{{item.fileName}}" alt="" /></span>
            {%endif%}
            <span class="subj">{{new.subject}}</span>
          </a>
        </dd>
        {% else %}
	  		<dd class="user-no-data">게시물이 없습니다.</dd> 
        {% endfor %}

      </dl>
      <a href="/community/news/list" class="user-more ir-a i-arr-r-5">자세히 보기</a>
    </div>
  </div>
  {% endif %}