<!-- 회원탈퇴 // -->
 <div id="secession" class="pop-layer ty-m" data-uipopset=''>
 	
   <h2 class="pop-title">회원탈퇴</h2>
   <div class="pop-cont">
     <!-- pop-scroll-wrap // -->
     <div class="pop-scroll-wrap ty-2">
     <form id="frmSece">
       <!-- pop-text // -->
       <p class="pop-text"><strong>{{me.name}}</strong>님께서는 <strong>{{me.joinDate | date("yyyy.MM.dd")}}</strong> 포레나 회원으로 가입하셨습니다.<br />탈퇴를 하시면 고객님의 상담내역이 모두 삭제됩니다.</p>
       <!-- // pop-text -->
       
       <!-- tb-form // -->
       
       <div class="tb-form">
         <table>
           <caption>회원탈퇴 정보 입력</caption>
           <colgroup><col style="width:26.5%" /><col style="width:auto;" /></colgroup>
           <tbody>
             <tr>
               <th scope="row">이름</th>
               <td class="txt-in">{{me.name}}</td>
             </tr>
             <tr>
               <th scope="row"><label for="f-pw">비밀번호 확인 <span class="ir i-required">필수입력</span></label></th>
               <td>
                 <input type="password" id="txt-sece-pw" name="strUserPW" class="fm-ipt" style="width:291px;" placeholder="비밀번호를 입력하세요." />
               </td>
             </tr>
           </tbody>
         </table>
       </div>
      
       <!-- // tb-form -->
       
       <!-- pop-list // -->
       <ul class="pop-list cmgt">
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1" class="fm-rad ty-2" name="strCode" value="S026001" checked><label for="f-rad-1" class="fm-rad-label ty-2">개인 정보에 대한 유출이 우려되기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-2" class="fm-rad ty-2" name="strCode" value="S026002"><label for="f-rad-1-2" class="fm-rad-label ty-2">사이트를 자주 이용하지 않기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-3" class="fm-rad ty-2" name="strCode" value="S026003" ><label for="f-rad-1-3" class="fm-rad-label ty-2">원하는 정보를 쉽게 찾을 수가 없기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-4" class="fm-rad ty-2" name="strCode" value="S026004"><label for="f-rad-1-4" class="fm-rad-label ty-2">이벤트 참여를 위해서 회원가입을 했기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-5" class="fm-rad ty-2" name="strCode" value="S026005"><label for="f-rad-1-5" class="fm-rad-label ty-2">잦은 시스템 에러나 속도가 너무 느리기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-6" class="fm-rad ty-2" name="strCode" value="S026006"><label for="f-rad-1-6" class="fm-rad-label ty-2">문의 사항에 대한 답변이 없거나 너무 늦기 때문에</label></span>
         </li>
         <li>
           <span class="fm-item"><input type="radio" id="f-rad-1-7-1" class="fm-rad ty-2" name="strCode" value="S026007" ><label for="f-rad-1-7-1" class="fm-rad-label ty-2">기타</label></span>
           <input type="text" id="f-rad-1-7-2" name="strVal" class="fm-ipt" style="width:480px;" placeholder="내용을 입력하세요." /><label for="f-rad-1-7-2" class="blind">기타 내용</label>
           <input type="hidden" id="f-rad-1-7-3" name="strMsg" class="fm-ipt" style="width:480px;"  />
         </li>
       </ul>
       <!-- // pop-list -->
        
       <!-- tb-txt // -->
       <p class="tb-txt ty-2">고객님께서 보내주신 탈퇴사유는 <span class="fc">포레나의 더 좋은 서비스를 위해</span> 소중히 여기겠습니다.</p>
       <!-- // tb-txt -->
       
       <!-- btn // -->
       <div class="btn-wrap">
         <button type="button" onclick="javascript:$('#secession').uipop('close');" class="btn-t btn-c-2">취소</button>
         <button type="button" id="btnSece-js" class="btn-t btn-c">확인</button>
       </div>
       <!-- // btn -->
       </form>
     </div>
     <!-- // pop-scroll-wrap -->
   </div>
   <button type="button" data-uipop='0' class="pop-btn-close"><span class="blind">닫기</span></button>
 </div>
 <!-- // 회원탈퇴 -->
 
 <!-- 비밀번호 변경 안내 // -->
<div id="pw-guid" class="pop-layer ty-m" data-uipopset=''>
  <h2 class="pop-title">비밀번호 변경 안내</h2>
  <div class="pop-cont">
    <!-- pop-text // -->
    <p class="pop-text">비밀번호 변경을 통하여 고객님의 개인정보를 보호하실 수 있습니다.</p>
    <!-- // pop-text -->

    <!-- 내용 // -->
    <dl class="guid-box">
      <dt>개인정보 도용으로 피해를 예방하기 위하여<br /><strong>정기적인 비밀번호 변경을 권장</strong>합니다.</dt>
      <dd>회원님의 개인정보를 보호하고자 비밀번호 사용기간이 90일이 지났을 경우<br />비밀번호 변경 안내를 시행하고 있습니다.</dd>
    </dl>
    <!-- // 내용 -->

    <!-- btn // -->
    <div class="btn-wrap">
      <button type="button" id="btnPwN" class="btn-t btn-c-3 btn-w-2"><span class="ir-a i-arr-r-3">90일 뒤에 변경</span></button>
      <a href="/user/my/info" class="btn-t btn-c btn-w-2"><span class="ir-a i-arr-r-3">비밀번호 변경</span></a>
    </div>
    <!-- // btn -->
  </div>
  <button type="button" data-uipop='0' class="pop-btn-close"><span class="blind">닫기</span></button>
</div>
<!-- // 비밀번호 변경 안내 -->