@charset "UTF-8";

/* common */
@import "base/variables";
@import "base/mixins";

/* component */
@import "components/buttons";
@import "components/input";
@import "components/tabs";
@import "components/board";
@import "components/accordion";
@import "components/_box";
@import "components/_list";

@import "components/_labels";

.container-contents-wrap{
    .board-list-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.2rem;
        .input-wrap{
            flex: 0 0 42rem;
            margin-bottom:0;
        }
    }
    /* privacy */
    .privacy{
        @include fontSize('fontS02');
        border: 1px solid $gray3;
        padding: 3rem;
        color: $gray5;
        height: 22.3rem;
        overflow-y: auto;
        margin-top: 2.4rem;
    }
    /* info */
    .info-text{
        @include fontSize('fontS02');
        color: $gray6;
    }

    .icon-info{
        display: inline-block;
        margin-right: 0.6rem;
        width: 2.4rem;
        height: 2.4rem;
        img{
            width: 100%;
        }
    }

    /* attach file-list */
    .file-add{
        width: 100%;
    }
    .file-wrap{
        background: $gray1;
        padding: 2.2rem 1.5rem;
        width: 100%;
        margin-top: 2rem;
    }
    .file-list{
        &__name{
            @include fontSize('fontS02');
            color: $gray5;            
        }
        &__btn{
            width: 2.4rem;
            height: 2.4rem;
            background-image:url('/assets/images/common/btn_input_delete.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size:2.4rem;
        }
        & + *{
            margin-top: 2rem;
        }
    }
    /*list detail*/
    .board-detail-wrap{padding-top:10rem;}
    .board-detail-conts + .btn-wrap{margin-top:6rem;}
    /* layout detail */
    .layout-wrap + .btn-wrap{margin-top: 8rem;}
    .layout-wrap-conts > .input-wrap-check{
        position: absolute;
        top: 3rem;
        right: 0;
    }
}

@include response('tablet') {
    .container-contents-wrap{
        /*tab + search header*/
        .board-list-header{
            display: block;
            margin-bottom: 3.2rem;
            .input-wrap{             
                width:42rem;
                margin-top:3.2rem;
            }
        }
        /*list detail*/
        .board-detail-wrap{padding-top:7rem;}
        .board-detail-conts + .btn-wrap{margin-top:5rem;}
        /* privacy */
        .privacy {
            @include fontSize('fontS01');
            padding: 1.2rem;
            margin-top: 0.8rem;
        }
        /* attach file-list */
        .file-wrap{
            padding: 2.2rem 1.5rem;
            width: 100%;
            margin-top: 2rem;
        }
        .file-list{
            &__name{
                @include fontSize('fontS02');
                color: $gray5;            
            }
            &__btn{
                width: 2.4rem;
                height: 2.4rem;
                background-image:url('/assets/images/common/btn_input_delete.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size:2.4rem;
            }
        }

        /* layout detail */
        .layout-wrap + .btn-wrap{margin-top: 6rem;}
        .layout-wrap-conts > .input-wrap-check{top: 2rem;}
    }
}

@include response('mobile') {
    .container-contents-wrap{
        /*tab + search header*/
        .board-list-header{
            display: block;
            margin-bottom:4rem;
            .input-wrap{
                margin-top:3.2rem;
                .input-default{
                    min-width:100%;
                }
            }
        }
        /*list detail*/
        .board-detail-wrap{padding-top:0;}
        .board-detail-conts + .btn-wrap{margin-top:4rem;}

         /* privacy */
        .privacy{
            @include fontSize('fontS01');
            padding: 1.2rem;
            color: $gray4;
            height: 16rem;
            margin-top: 0.8rem;
        }
        /* info */
        .info-text{
            @include fontSize('fontS00');
        }
        .icon-info{
            display: inline-block;
            margin-right: 0.4rem;
            width: 1.8rem;
            height: 1.8rem;
        }
        /* attach file-list */
        .file-wrap{
            padding: 1.6rem;
            width: 100%;
            margin-top: 2rem;
        }
        .file-list{
            display: flex;
            justify-content: space-between;
            &__name{
                @include fontSize('fontS01');
                display: block;
                width: 100%;
            }
            & + *{
                margin-top: 1.6rem;
            }    
        }
        /* layout detail */
        .layout-wrap + .btn-wrap{
            margin-top: 3.2rem;
            .btns{
                width: 100%;
            }
        }
        .layout-wrap-conts > .input-wrap-check{
            position: static;
            margin-top: 1.2rem;
        }
        .layout-wrap-conts .select-wrap{display: block;}
    }
}