@charset "UTF-8";

@import "base/variables";
@import "base/mixins";
@import "base/_slick";

.wrap.main{
    .header{
        background:none;
        &.is-scroll, &.is-gnbOpen{
            background:$white;
            .logo{
                background-image:url('/assets/images/common/gnb_logo_color.svg');
            }
            .gnb-btn{
                &>i{background:$gray8;}
            }
            .select-title{
                color:$gray8;
                &:after{
                    background-image:url('/assets/images/common/btn_gnb_global_open_b.svg');
                }
            }
        }
        .logo{
            background-image:url('/assets/images/common/gnb_logo_white.svg');
        }
        .gnb-btn{
            &>i{background:$white;}
        }
        .select-title{
            color:$white;
        }
        .select-title:after{
            background-image:url('/assets/images/common/btn_gnb_global_open_w.svg');
        }
    }
}
.main-popup{
    display:none;
    &.is-active{
        display:block;
    }
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:42.4rem;   
    z-index:999;
    .popup-slide{
        position:relative;
        padding:2rem 0;
        background:$white;
    }
    .popup-slide-items{
        padding:0 2rem;
        padding-bottom:6rem;
        position:relative;
        &.slide-btn{padding-bottom:12rem;}
        .btn-area{
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            padding:0 2rem;
            button{
                width:100%;
                &.h-lg{
                    font-weight:500;
                    color:$gray8;
                }
            }
        }
    }
    .image-area{height:38.4rem;}
    .text-area{
        width:100%;
        overflow:hidden;
        height:38.4rem;
        padding:0 1.2rem;
        .title-conts{
            padding:3rem 0;
            text-align:center;
            @include fontSize('fontS08');
            @include ellipsis;
        }
        .text-conts{
            height:26.4rem;
            overflow-x:hidden;
            overflow-y:hidden;
            @include fontSize('fontS03');
            color:$gray6;
        }
    }
    .btn-close-wrap{
        display:flex;
        align-items: center;
        padding-top:8px;
        a{
            position:relative;
            display:block;
            padding:1rem 0;
            text-align:center;
            color:$white;
            @include fontSize('fontS02');
            font-weight:500;
            &:first-child{
                width:60%;              
                & + a{
                    width:40%;
                    &:after{
                        content:'';
                        position:absolute;
                        top:50%;
                        left:0;
                        transform: translateY(-50%);
                        width:1px;
                        height:1.8rem;
                        background:$white;
                    }
                }
            }
        }
    }
}
.slick-current.popup-slide-items .text-conts{
    overflow-y:auto;
}

/* slide */
.slick-slider{
    overflow:hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide{
    display: block;
}
.popup-slide{
    position:relative;
    .slick-dots{
        position:absolute;
        top:42rem;
        left:50%;
        transform: translateX(-50%);
        display:flex;
        align-items: center;
        justify-content: center;
        &>li{
            margin:0 .8rem;
            display:inline;
            &>button{
                position:relative;
                width:2.4rem;
                height:2.4rem;
                font-size:0;
                border:none;
                border-radius:100%;
                &:after{
                    content:'';
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    width:0.8rem;
                    height:0.8rem;
                    background:$gray4;
                    border-radius:100%;
                }
            }
            &.slick-active{
                &>button{
                    border:1px solid $gray4;
                    border-radius:100%;
                }
            }
        }
    }
}

@include response('tablet'){   
    .main-popup .text-area .title-conts{@include fontSize('fontS07');}
}

@include response('mobile'){
    .main-popup{
        width:29.6rem;       
        height:auto;
        max-height:100%;
        overflow-y:auto;
        .popup-slide{
            padding:1.2rem 0;
        }
        .popup-slide-items{
            padding:0 1.2rem;
            padding-bottom:5.2rem;
            .btn-area{
                padding:0 1.2rem;
                button.h-lg{
                    height:4.8rem;
                    font-size:1.6rem;
                    line-height: 2.4rem;
                }
            }
        }
        .image-area{height:27.2rem;}
        .text-area{
            height:27.2rem;
            padding:0 2rem;
            .title-conts{
                padding:2rem 0 2.4rem;
                @include fontSize('fontS04');
            }
            .text-conts{
                height:20.2rem;
                @include fontSize('fontS02');
            }
        }
        .btn-close-wrap{
             a:first-child{
                width:65%;                
                & + a{width:35%;}
            }           
        }
    }
    .popup-slide{
        .slick-dots{top:30rem;}
    }
}