@charset "UTF-8";

@import "base/variables";
@import "base/mixins";

.wrap.main{
    .header{
        &.is-scroll{
            .logo{
                background-image:url('/assets/images/common/gnb_logo_color.svg');
            }
            .gnb-btn{
                &>i{background:$gray8;}
            }
            .select-title{
                color:$gray8;
                &:after{
                    background-image:url('/assets/images/common/btn_gnb_global_open_b.svg');
                }
            }
        }
        .logo{
            background-image:url('/assets/images/common/gnb_logo_white.svg');
        }
        .gnb-btn{
            &>i{background:$white;}
        }
        .select-title{
            color:$white;
        }
        .select-title:after{
            background-image:url('/assets/images/common/btn_gnb_global_open_w.svg');
        }
    }
}