@charset "UTF-8";

@import "base/variables";
@import "base/mixins";
@import "base/_slick";

.wrap.main{
    .header{
        background:none;
        &.is-scroll, &.is-gnbOpen{
            background:$white;
            .logo{
                background-image:url('/assets/images/common/gnb_logo_color.svg');
            }
            .gnb-btn{
                &>i{background:$gray8;}
            }
            .select-title{
                color:$gray8;
                &:after{
                    background-image:url('/assets/images/common/btn_gnb_global_open_b.svg');
                }
            }
        }
        .logo{
            background-image:url('/assets/images/common/gnb_logo_white.svg');
        }
        .gnb-btn{
            &>i{background:$white;}
        }
        .select-title{
            color:$white;
        }
        .select-title:after{
            background-image:url('/assets/images/common/btn_gnb_global_open_w.svg');
        }
    }
}


.main-popup{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:42.4rem;
    height:54.4rem;
    padding:2rem;
    background:$white;
    z-index:999;
    .image-area{
        // margin:2rem;
    }
    .text-area{
        padding:0 1.2rem;
        .title-conts{
            padding:3rem 0;
            text-align:center;
            @include fontSize('fontS08')
        }
        .text-conts{
            
        }
    }
}