{#
===========================================================
name   : 마이페이지
desc   : 마이페이지
author : dhkim
since  : 2020.12.28.
-----------------------------------------------------------
개정이력 
-----------------------------------------------------------
===========================================================
#}

{% extends "fo/master/base" %}

{% block head %}
<script type="text/javascript" src="/ckeditor/ckeditor.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="content">

	<h1 class="title">비밀번호 변경</h1>

	<!-- ### 폼테이블 ### -->
	<form id="frm" method="post" enctype="multipart/form-data">
	<div class="tbl-t1">
		<table>
			<caption>사업보고서 등록/수정</caption>
			<colgroup><col style="width:160px;" /><col /></colgroup>
			
				<tbody>
					<tr>
						<th scope="row"><span class="icon-required">(필수)</span>기존 비밀번호</th>
						<td>
							<input id="frmAsisPswrd" name="asisPswrd"  type="password" class="fm-ipt w100" />
						</td>
					</tr>
					<tr>
						<th scope="row"><span class="icon-required">(필수)</span>신규 비밀번호</th>
						<td>
							<input id="frmTobePswrd1" name="tobePswrd" type="password" class="fm-ipt w100" />
						</td>
					</tr>
					<tr>
						<th scope="row"><span class="icon-required">(필수)</span>비밀번호 확인</th>
						<td>
							<input id="frmTobePswrd2" name="cirmPswrd" type="password" class="fm-ipt w100"/>
						</td>
					</tr>
					
				</tbody>
			
		</table>
	</div>
	</form>
	
	<div class="btnarea">
		<button type="button" class="btn-t-2 c1" id="btnModify">수정</button>
		<button type="reset" class="btn-t-2" id="btnMain">Main</button>
	</div>
	
	
	<span id="js-list"></span>
	
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(function(){
		
		init();
		fnSearch();
	});
	
	var $list = $('#js-list'); // 리스트 영역
	
	function fnSearch() {
		var $strVal = $('#f-search');
		var $strKey = $('#f-sch-board');
		
		/////////////////
		$.ajax({
			type: 'POST',
		    url: 'list-data',
		    data: $('#listFrm').serialize(),
		    dataType: 'html',
		    
		    success: function(data) {
		    	$list.html(data);
		    	ui.reInit($('#js-list'));
		    	
		    },
		    error: function(request, status, error) {
		    	//console.log('code:' + request.status + '\n' + 'error:' + error);
		    },
		  });
		
	}
	
	var validItems = {'#frmAsisPswrd':'기존 패스워드를 입력하세요'
					,'#frmTobePswrd1':'신규 패스워드를 입력하세요'
					,'#frmTobePswrd2':'비밀번호 확인을 입력하세요'
					};
	
	/**
	 * 초기화
	 */
	function init() {
		fnAddEventListener();
	}

	function fnAddEventListener() {

		$('#btnMain').click(function(){
			fnGoIndex();
		});
		
		// 
		$('#btnModify').click(function(e) {
			updData();	
		});
		
 	}
	

	/**
	 * 파일 업로드 및 저장
	 */
	function regData() {
		
		if( fnJsValidation(validItems) ){
			
			if( !ref.validateEmail( $("#frmEmail").val() ) ){
				alert("올바른 이메일 형식이 아닙니다.");
				return;
			}
			
			if(confirm('저장 하시겠습니까?')){
				$('#frm').ajaxForm({
				    url: 'add.act',
				    beforeSubmit: function(data,form,option){
				    	
				    },
				    error : function(e){
				    	console.log(e);
				    },
				    success: function(rtn) {
				    	location.reload();
				    	alert("저장되었습니다.");
				    	fnGoIndex();
				    }
				});
				$('#frm').submit();
			}
		}
	}
	
	
	function isImage(file){
	   return file['type'].split('/')[0]=='image';//returns true or false
	}
	
	function updData() {
		
		if( fnJsValidation(validItems) ){
		
			if( $("#frmTobePswrd1").val() != $("#frmTobePswrd2").val() ){
				alert(" 신규 비밀번호가 동일하지 않음.");
				return;
			}
			
			if(confirm('수정 하시겠습니까?')){
				
				$('#frm').ajaxForm({
				    url: 'updPasswd.act',
				    enctype: 'multipart/form-data',
				    traditional : 	true,
				    beforeSubmit: function(data,form,option){
				    	
				    },
				    error : function(){
				    	
				    },
				    success: function(result) {
				    	
				    	if( result.success == true ){
				    		alert("수정되었습니다.");	
				    	}else{
				    		alert(result.message);	
				    	}
				    	
				    }
				});
				$('#frm').submit();
			
			}
			
		}
		  
	}
	
	function fnGoIndex(){
		ref.go("/");
	}

</script>

{% endblock %}