@charset "UTF-8"; 

/****************************** RESET ******************************/
html, body { height:100%; text-size-adjust:none; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
html, body, div, span, object, iframe, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, fieldset, legend, input, label, button, textarea, select, textarea, input, table, caption, tbody, tfoot, thead, tr, th, td, b, i, dl, dt, dd, ol, ul, li, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, time, mark, audio, video, a { margin:0; padding:0; box-sizing:border-box; }
body, input, select, textarea, button, table { font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo','돋움',dotum, sans-serif; font-size:15px; letter-spacing:-0.01em; color:#666; word-break:keep-all; word-wrap:break-word; }
h1, h2, h3, h4, h5, h6 { font-weight:inherit; font-size:inherit; }
fieldset { border:0; }
img { border:0; vertical-align:middle; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block; }
dl, ul, ol, menu, li { list-style:none; }
em, address { font-style:normal; }
a { color:inherit; text-decoration:none; }
a:hover,a:active,a:focus { text-decoration:none; }
input, select, textarea, button { border-radius:0; }
button { cursor:pointer; width:auto; overflow:visible; color:inherit; background:transparent; border:none; box-sizing:border-box; }
table { border-collapse:collapse; border-spacing:0; table-layout:fixed; width:100%; empty-cells:show; }
caption, legend { text-indent:-9999px; width:0; height:0; font-size:1px; line-height:0; border:0; white-space:nowrap; overflow:hidden; }
input[type='text'], input[type='password'] { box-sizing:border-box; -webkit-appearance:none; appearance:none; resize:none; box-shadow:none !important; }
input[type='text']::-ms-clear{ display:none; }
input,textarea { -webkit-tap-highlight-color:rgba(0,0,0,0) }
input[disabled="disabled"], select[disabled="disabled"], input[readonly="readonly"], input.disabled, input.readonly { background-color:#f5f5f5; color:#999; cursor:default; box-sizing:border-box; }
input[disabled="disabled"]:focus, select[disabled="disabled"]:focus, input[readonly="readonly"], input.disabled:focus, input.readonly:focus { border-color:#ddd !important }
select { -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0; }
select::-ms-expand { display:none; }
input[data-fakefile="file"] { position:absolute; width:1px; height:16px; padding:0; margin:0; opacity:0; overflow:hidden; box-sizing:border-box; }
::-webkit-input-placeholder { color:#999 !important; letter-spacing:-0.02em; font-weight:normal !important; }
::-moz-placeholder { color:#999 !important; letter-spacing:-0.02em; font-weight:normal !important; }
:-ms-input-placeholder { color:#999 !important; letter-spacing:-0.02em; font-weight:normal !important; }
::placeholder { color:#999 !important; letter-spacing:-0.02em; font-weight:normal !important; }
select.placeholder { color:#999 !important; letter-spacing:-0.02em; font-weight:normal !important; }
.fm-file ::-webkit-input-placeholder { color:#111 !important; }
.fm-file ::-moz-placeholder { color:#111 !important; }
.fm-file :-ms-input-placeholder { color:#111 !important; }
th, td { text-indent:0; word-break:break-all; word-wrap:break-word; }
div:focus, dl:focus, dt:focus, dd:focus, ul:focus, ol:focus, li:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, pre:focus, code:focus,
form:focus, fieldset:focus, legend:focus, p:focus, blockquote:focus, th:focus, td:focus, article:focus, aside:focus, details:focus,
figcaption:focus, figure:focus, footer:focus, header:focus, hgroup:focus, main:focus, nav:focus, section:focus, summary:focus,
div:hover, dl:hover, dt:hover, dd:hover, ul:hover, ol:hover, li:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, pre:hover, code:hover,
form:hover, fieldset:hover, legend:hover, p:hover, blockquote:hover, th:hover, td:hover, article:hover, aside:hover, details:hover,
figcaption:hover, figure:hover, footer:hover, header:hover, hgroup:hover, main:hover, nav:hover, section:hover, summary:hover{ outline:none; }

/****************************** LAYOUT ******************************/
hr.line {display:block; clear:bodh; margin:5px 0; border:0; }
.wrap {min-width:1260px; width:100%; height:100%; }
.header {position:relative; width:100%; height:80px; padding:20px; background:#fff; border-bottom:1px solid #202020; z-index:500; }
.header .logo {font-size:20px; line-height:40px; color:#ff5a2b; }
.header .logo span {position:relative; display:inline-block; vertical-align:top; }
.header .logo .ci {overflow:hidden; width:0; height:36px; padding:0 0 0 177px; margin:0 10px 0 0; background:url("../images/img_set1.jpg") no-repeat 0 2px; white-space:nowrap; }
.header .util {overflow:hidden; position:absolute; right:20px; top:50%; -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); transform:translateY(-50%); }
.header .util .item {position:relative; display:block; float:left; padding:0 15px; font-size:14px; line-height:30px; color:#999; }
.header .util .item.user strong {display:inline-block; padding:0 0 0 8px; }
.header .util .item.user strong:before {content:''; display:block; float:left; width:3px; height:3px; margin:14px 5px 0 -8px; background:#333; }
.header .util .item strong {font-weight:normal; color:#000; }
.header .util .item:before {content:''; position:absolute; left:-1px; top:50%; width:1px; height:12px; margin:-5px 0 0; background:#ddd; }
.header .util a {display:block; padding:0 15px; margin:0 -15px; }
.header .util a:hover, .header .util a:focus {color:#ff5a2b; }
.header .util .ig-go:hover::after, .header .util .ig-go:focus::after { border-right-color:#ff5a2b; border-top-color:#ff5a2b; }
.container {position:relative; margin:0 auto 0; width:100%; min-height:100%; min-height:calc(100% - 80px); }
.aside {float:left; width:200px; margin:0 50px 0 0; background:#202020; color:#999; }
.aside:before {content:''; display:block; position:absolute; left:0; top:0; bottom:0; width:200px; background:#202020; z-index:-1; box-shadow:1px 0 5px rgba(0,0,0,0.3); }
.aside .i-menu { position:absolute; left:100%; top:0; z-index:2; }
.aside .navi { position:relative; }
.aside .navi > li { border-bottom:1px solid #333; }
.aside .navi > li + li { margin-top:-1px; border-top:1px solid #333; }
.aside .navi .dep-1 { display:block; padding:18px 20px 19px; font-size:14px; color:#999; font-weight:bold; text-decoration:none !important; }
.aside .navi > li.active { border-top-color:#111; }
.aside .navi .active > .dep-1 { color:#fff; background:#111; }
.aside .navi .active > .sub { display:block; }
.aside .navi a { position:relative; max-width:100%; box-sizing:border-box; }
.aside .toggle { position:relative; display:inline-block; width:13px; height:13px; margin:0 0 -1px 6px; overflow:hidden; text-indent:-999px; white-space:nowrap; border:1px solid #ccc; }
.aside .toggle:before { content:''; position:absolute; left:2px; right:2px; top:5px; bottom:5px; background:#fff; }
.aside .toggle:after { content:''; position:absolute; left:5px; right:5px; top:2px; bottom:2px; background:#fff; }
.aside .active > a .toggle:after { display:none; }
.aside .dep-1 .toggle { position:absolute; top:50%; right:20px; margin:-7px 0 0; }
.aside .active > .dep-1 .toggle { border-color:#999; }
.aside .active > .dep-1 .toggle:before { background-color:#999; }
.aside .active > .dep-1 .toggle:after { background-color:#999; }
.aside .sub { display:none; padding:15px 0; }
.aside .sub .sub { padding:0 0 0 1em; }
.aside .sub a { display:block; padding:4px 20px; color:#999; font-size:14px; }
.aside .sub .active > a { color:#fff; font-weight:bold; }
.content {padding:20px 20px 50px 250px; margin:0 auto; }
.title {margin:0 0 20px; padding:0 0 0 16px; font-size:21px; line-height:50px; color:#282828; }
.title:before {content:''; float:left; display:block; width:5px; height:20px; margin:15px 11px 0 -16px; background:#ff5a2b; }
.tit-t1 {position:relative;margin:30px 0 10px;color:#282828;}
.tit-t1:not(div), div.tit-t1 > :first-child {position:relative;padding:0 0 0 14px;font-size:17px;line-height:24px;}
.tit-t1 .side {position:absolute;right:0;bottom:0;}
.tit-t1:not(div):before, div.tit-t1 > :first-child:before {content:'';display:block;position:absolute;left:0;top:9px;width:6px;height:6px;background:#ff5a2b;border-radius:2px;}

/****************************** COMMON ******************************/
.blind { display:block; position:absolute; width:0; height:0; opacity:0; border:0; overflow:hidden; font-size:1px; line-height:0; white-space:nowrap; }
.ac { text-align:center !important; }
.al { text-align:left !important; }
.ar { text-align:right !important; }

.w100 {width:100% !important; }
.w75 {width:75% !important; }
.w50 {width:50% !important; }
.w1 {width:140px !important; }
.w2 {width:265px !important; }
.w3 {width:80px !important; }
.w-side {width:calc(100% - 240px) !important; }
.w-side-2 {width:calc(100% - 270px) !important; }

.txt-ps { font-size:14px; line-height:24px; color:#959595; }
.txt-ps.side { line-height:32px; }
.txt-ps.side:before { margin-top:0.75em; }
p.txt-ps, div.txt-ps { margin-top:0.25em; }
span.txt-ps, em.txt-ps { display:inline-block; }
ul.txt-ps li {display:inline-block;margin-left:10px;}
ul.txt-ps li:first-child {margin-left:0;}
ul.txt-ps li .btn-del {position:relative;overflow:hidden;display:inline-block;margin-left:3px;width:14px;height:14px;text-indent:-999px;vertical-align:middle;}
ul.txt-ps li .btn-del::before {content:'';position:absolute;top:50%;left:0;margin-top:-2px;width:14px;height:2px;background:#ff5a2b;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
ul.txt-ps li .btn-del::after {content:'';position:absolute;top:50%;left:0;margin-top:-2px;width:14px;height:2px;background:#ff5a2b;-webkit-transform:rotate(135deg);transform:rotate(135deg);}


/****************************** LOGIN ******************************/
.login-wrap:before {content:''; position:fixed; left:0; right:0; top:0; bottom:0; background:rgba(0,0,0,0.7); z-index:-1; }
.login-wrap .mid {position:absolute; left:50%; top:50%; width:540px; padding:49px 50px 50px; background:#fff; border:1px solid #222; -ms-transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.login-wrap h1 {margin:0 0 14px; font-size:20px; line-height:40px; text-align:center; }
.login-wrap h1 span {position:relative; display:block; vertical-align:top; color:#999; font-weight:bold; }
.login-wrap h1 .logo {overflow:hidden; width:177px; height:40px; padding:0; margin:0 auto 0 auto; text-indent:999px; background:url("../images/img_set1.jpg") no-repeat 0 2px; white-space:nowrap; }
.login-wrap .ps {margin:19px 0 -10px; font-size:13px; text-align:center; color:#959595; }
.login-wrap .copy {position:absolute; left:0; right:0; top:100%; font-size:14px; line-height:50px; color:rgba(255,255,255,0.7); text-align:center; }
.login-wrap fieldset > label, .login-wrap fieldset > button { position:relative; display:block; width:100%; margin-top:15px; }
.login-wrap fieldset > label > span {display:block; position:absolute; left:9px; top:0; z-index:2; line-height:40px; color:#999; }
.login-wrap fieldset > label .fm-ipt {width:100%; padding-left:120px; height:40px; line-height:38px; }

/****************************** FORM ******************************/
input[type='checkbox'], input[type='radio'] { width:18px; height:18px; margin-top:-3px; vertical-align:middle; }
.fm-ipt:focus, .fm-ta:focus, .fm-sel:focus,
.fm-ipt.focus, .fm-ta.focus, .fm-sel.focus {border-color:#777; color:#000; outline:0; }
.fm-ipt, .fm-ta, .fm-sel {width:140px; border:1px solid #c5c5c5; font-size:14px; background:#fff; color:#444; border-radius:0; }
.fm-ipt { position:relative; width:140px; height:32px; line-height:30px; padding:0 9px; font-weight:bold; overflow:hidden; box-sizing:border-box; }
.fm-ta { display:block; width:100%; box-sizing:border-box; border-radius:0; line-height:1.4; font-weight:bold; padding:10px 9px; letter-spacing:-0.02em; height:158px; }
.fm-sel {height:32px; padding:0 25px 0 8px; background:#fff url("../images/img_form1.png") no-repeat 100% 50%; }
.fm-sel:disabled {background:none; }
.fm-sel::-ms-expand {display:none; }
.ie9 .fm-sel {padding-right:0; background:none; }
.fm-ipt:disabled, .fm-ta:disabled, .fm-sel:disabled {color:#999; border-color:#b0b0b0; background-color:rgba(144,137,132,0.1) !important; }
.fm-ipt[readonly], .fm-ta[readonly], .fm-sel[readonly] { border-color:#b0b0b0; background-color:rgba(144,137,132,0.1); }
input[aria-invalid="true"], textarea.fm-ta[aria-invalid="true"], select[aria-invalid="true"],
input[aria-invalid="true"]:focus, textarea.fm-ta[aria-invalid="true"]:focus, select[aria-invalid="true"]:focus {border-color:#ff0000; }
.fm-item + .fm-item { margin-left:20px; }
.fm-row + .fm-row {margin-top:10px;}
.fm-file { position:relative; display:inline-block; width:100%; height:32px; padding:0 85px 0 0; z-index:1; vertical-align:top; }
.fm-file::before {content:''; display:block; position:absolute; left:0; top:0; bottom:0; right:85px; height:30px; border:1px solid #c5c5c5; background:#fff; }
.fm-file::after {content:attr(data-filename); display:block; position:absolute; left:0; top:0; bottom:0; line-height:32px; padding:0 9px; }
.fm-file input {position:absolute; opacity:0; z-index:-1; width:100%; height:100%; }
.fm-file input:focus ~ span {border-color:#d9d9d9; }
.fm-file .btn {position:absolute; right:0; top:0; display:block; width:80px; height:32px; padding:0; line-height:30px; text-align:center; border:1px solid #787878; border-left:0; background:#787878; ; color:#fff; font-size:14px; }
.fm-file + .btn {display:inline-block;vertical-align:top;width:63px;}
.fm-file + .btn .btn-icon {float:left;margin:0 -1px 0 0;}
.cont-variable > :first-child button[data-btn="del"],
.cont-variable[data-max="2"] > :nth-of-type(2) button[data-btn="add"],
.cont-variable[data-max="3"] > :nth-of-type(3) button[data-btn="add"],
.cont-variable[data-max="4"] > :nth-of-type(4) button[data-btn="add"],
.cont-variable[data-max="5"] > :nth-of-type(5) button[data-btn="add"],
.cont-variable[data-max="6"] > :nth-of-type(6) button[data-btn="add"] { display:none; }
.cont-variable > li + li, .cont-variable > div + div { margin-top:5px; }

/****************************** SEARCH ******************************/
.search {margin:0 0 50px;padding:20px;background:#fafafa;border-top:1px solid #282828;border-bottom:1px solid #dadada;}
.search label, .search .label { position:relative;display:inline-block;line-height:32px;vertical-align:top; }
.search .fm-item > label:first-child, .search .fm-item > .label:first-child,
.search .fm-row > label:first-child, .search .fm-row > .label:first-child {padding:0 10px 0;}
.search .fm-item > label:first-child:before, .search .fm-item > .label:first-child:before,
.search .fm-row > label:first-child:before, .search .fm-row > .label:first-child:before {content:'';display:block;float:left;width:3px;height:3px;margin:14px 5px 0 -8px;background:#333;}
.search .fm-item + .fm-item {margin:0 0 0 25px;}
.search .fm-sel + .fm-sel, .search .fm-ipt + .fm-sel, .search .fm-sel + .fm-ipt, .search label + label, .search input + input {margin:0 0 0 6px;}
.search .btn-t {margin:0 0 0 6px;}

/****************************** TAB ******************************/
.tab {position:relative;overflow:hidden;margin:10px 0 20px;text-align:left;}
.tab:before {content:'';position:absolute;left:0;right:0;bottom:0;display:block;border-bottom:2px solid #ff5a2b;z-index:1;}
.tab > li {position:relative;display:inline-block;text-align:center;}
.tab > li > a {display:block;padding:0 30px;line-height:38px;border:1px solid #ddd;border-bottom:0;background:#fff;color:#000;border-radius:5px 5px 0 0;}
.tab > li.active {z-index:2;}
.tab > li.active > a {padding-bottom:1px;border-color:#ff5a2b;background-color:#ff5a2b;color:#fff;}

/****************************** BUTTON ******************************/
.btn-t, .btn-t-2, .btn-icon {position:relative; display:inline-block; text-align:center; }
.btn-t-2 + .btn-t-2 {margin:0 0 0 5px; }

.btn-t {min-width:80px; line-height:30px; height:32px; padding:0 9px; font-size:14px; border:1px solid #787878; background:rgba(120,120,120,1); }
.btn-t-2 {min-width:120px; padding:0 14px; font-size:16px; line-height:38px; height:40px; border:1px solid #444; background:rgba(68,68,68,1); border-radius:2px; }

[class*="btn-"], [class*="btn-"]:visited {color:rgba(255,255,255,1); }
[class*="btn-"][disabled] {background:rgba(144,137,132,0.6); color:rgba(255,255,255,0.9); }
[class*="btn-"].c1 {border-color:#ff5a2b; background-color:#ff5a2b; }
[class*="btn-"].c1[disabled] {background-color:rgba(255,102,0,0.6); }
[class*="btn-"].c2 {background-color:#fff; }
[class*="btn-"].c2, [class*="btn-t"].c2:visited {color:#444; }
[class*="btn-"].c2[disabled] {background:rgba(144,137,132,0.05); color:rgba(68,68,68,0.5); }
[class*="btn-"].c3 {border-color:#ff5a2b; background-color:#fff; }
[class*="btn-"].c3, [class*="btn-t"].c3:visited {color:#ff5a2b; }
[class*="btn-"].c3[disabled] {background:rgba(144,137,132,0.05); border-color:rgba(255,102,0,0.6); color:rgba(255,102,0,0.6); }

.btn-icon {overflow:hidden;width:0;height:32px;padding:0 0 0 30px;border:1px solid #c5c5c5;background:#fff;}
.btn-icon:before, .btn-icon:after {content:'';position:absolute;left:50%;top:50%;}
.btn-icon[data-btn="add"]:before, .btn-icon[data-btn="add"]:after, .btn-icon[data-btn="del"]:before {background:#767676;}
.btn-icon[data-btn="add"]:before, .btn-icon[data-btn="del"]:before {width:18px;height:1px;margin:0 0 0 -9px;}
.btn-icon[data-btn="add"]:after {width:1px;height:18px;margin:-9px 0 0;}
.btn-icon[data-btn="up"]:before, .btn-icon[data-btn="down"]:before {width:0;height:0;margin:-2px 0 0 -5px;border-left:5px solid transparent;border-right:5px solid transparent;}
.btn-icon[data-btn="up"]:before {border-bottom:5px solid #767676;}
.btn-icon[data-btn="down"]:before {border-top:5px solid #767676;}
.btn-icon {overflow:hidden;width:0;height:32px;padding:0 0 0 30px;border:1px solid #c5c5c5;background:#fff;}
.btn-icon:before, .btn-icon:after {content:'';position:absolute;left:50%;top:50%;}

.btn-itxt + .btn-itxt { margin-left:10px; }
.btn-itxt {display:inline-block;font-size:14px;line-height:30px;border-bottom:1px solid #888;color:#888;}
.btn-itxt[data-btn="download"]:before {content:'';display:inline-block;width:12px;height:12px;margin:0 10px 0 0;background:url("../images/img_set1.jpg") no-repeat -30px -57px;}
.btn-itxt.min[data-btn="download"] { border-bottom:0; }
.btn-itxt.min[data-btn="download"]:before { margin-right:0; }

.btn-itxt[data-btn="del"] { position:relative; padding:0 15px 0 0; }
.btn-itxt[data-btn="del"]:before, .btn-itxt[data-btn="del"]:after{content:'';position:absolute; right:4px; top:50%;  -webkit-transform:rotate(45deg);transform:rotate(45deg); background:#000;}
.btn-itxt[data-btn="del"]:before {width:13px;height:1px;margin:2px -6px 0 0;}
.btn-itxt[data-btn="del"]:after {width:1px;height:13px;margin:-4px 0 0;}

.ig-go::after { content:''; display:inline-block; width:6px; height:6px; margin:0 0 1px 4px; border:1px solid transparent; border-right-color:#999; border-top-color:#999; -webkit-transform:rotate(45deg);transform:rotate(45deg); }

/****************************** ICON ******************************/
.icon-required {position:relative;display:inline-block;white-space:nowrap;vertical-align:top;}
span.icon-required {overflow:hidden;width:0;padding:0 0 0 15px;}
span.icon-required:before {content:'*';float:left;margin:0 0 0 -15px;width:15px;color:#ff5a2b;text-align:center;}


/****************************** TABLE ******************************/
.txt-cnt { color:#282828; }
.txt-cnt em {color:#ff5a2b;}

.tbl-t1 {overflow:hidden;margin:10px 0;border-top:1px solid #282828;border-bottom:1px solid #dadada;}
.tbl-t1 table {width:100%;width:calc(100% + 1px);table-layout:fixed;}
.tbl-t1 table th, .tbl-t1 table td {height:42px;padding:5px 14px;border-top:1px solid #dadada;border-right:1px solid #dadada;font-size:14px;line-height:30px;color:#767676;vertical-align:middle;text-align:left;}
.tbl-t1 table th {padding:5px 25px;background:#f5f5f5;color:#282828;}
.tbl-t1 table thead th {padding:4px 9px;text-align:center;}
.tbl-t1 table thead ~ tbody > tr:first-child th,
.tbl-t1 table thead ~ tbody > tr:first-child td {border-top:1px solid #282828;}
.tbl-t1 table thead ~ tbody td,
.tbl-t1 table tbody th[scope="rowgroup"] {text-align:center;}
.tbl-t1 table tfoot th, .tbl-t1 table tfoot td {padding:4px 9px;background:#f5f5f5;color:#282828;text-align:center;}
.tbl-t1 table tfoot .total th, .tbl-t1 table tfoot .total td {background:#c5c5c5;color:#282828;}
.tbl-t1 > table > thead > tr:first-child th {border-top:0;}
.tbl-t1 > table > colgroup + tbody > tr:first-child th,
.tbl-t1 > table > colgroup + tbody > tr:first-child td {border-top:0;}
.tbl-t1 td.nodata {text-align:center;line-height:120px;}
.tbl-t1 td.tit {text-align:left;}
.tbl-t1 td.tit a {display:inline-block;max-width:100%;line-height:26px;overflow:hidden;margin:1px 0 0;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px solid #959595;vertical-align:top;}
.tbl-t1 td.tit a:hover, .tbl-t1 td.tit a:focus {color:#ff5a2b;border-color:#ff5a2b;}
.tbl-t1 td .side {float:right;}
.tbl-t1 table + table {border-top:1px solid #282828;margin:10px 0 0;}
.tbl-t1 td .img {position:relative;width:120px;height:75px;margin:auto;vertical-align:middle;}
.tbl-t1 td .img:before {content:'';display:block;position:absolute;left:0;right:0;top:0;bottom:0;background:#f5f5f5;border:1px solid #ddd;box-sizing:border-box;}
.tbl-t1 td .img img {position:relative;width:100%;height:100%;}
.tbl-t1 th .icon-required {margin-left:-15px;}
.tbl-t1.ty-2 {border-top:1px solid #dadada;}

.pre-list {margin-top:5px;}
.pre-list:empty { display:none; }
.area-editor {height:250px;border:1px solid #c5c5c5;}
.area-editor:empty {position:relative;text-align:center;display:block;background:#fafafa;}
.area-editor:empty:before {content:'Editor Area';position:absolute;left:0;right:0;top:50%;line-height:30px;margin:-15px 0 0;text-align:center;}

.paging {margin:30px 0 0;text-align:center;font-size:0;}
.paging a {display:inline-block;vertical-align:top;min-width:30px;padding:0 2px;font-size:14px;line-height:40px;text-indent:-1px;text-align:center;white-space:nowrap;}
.paging a.active {font-weight:bold;color:#ff5a2b;}
.paging a:hover, .paging a:focus {text-decoration:underline;}
.paging > a {position:relative;width:0;height:40px;padding:0 0 0 40px;overflow:hidden;border:1px solid #dadada;background:#fff;line-height:38px;text-indent:2px;}
.paging > a + a {margin:0 0 0 5px;}
.paging > a:before, .paging > a:after {content:'';position:absolute;left:50%;top:50%;width:8px;height:8px;margin:-5px 0 0 0;border-bottom:1px solid #282828;}
.paging a.prev:after, .paging a.next:after {display:none;}
.paging a.first:before,
.paging a.first:after,
.paging a.prev:before {border-left:1px solid #666;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.paging a.next:before,
.paging a.last:before,
.paging a.last:after {border-right:1px solid #666;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.paging a.first:before {margin-left:-4px;}
.paging a.prev:before {margin-left:-2px;}
.paging a.next:before {margin-left:-6px;}
.paging a.last:before {margin-left:-8px;}
.paging a.last:after {margin-left:-4px;}
.paging .num {padding:0 20px;}
.paging > a:focus, .paging > a:hover {border-color:#767676;}
.paging + .btnarea {margin:40px 0 0;}

.btnarea {position:relative;text-align:right;margin:30px 0;}
.btnarea .side {float:left;}
.btnarea [class*="btn-t"] + [class*="btn-t"] {margin:0 0 0 5px;}
.btnarea .paging {position:absolute;left:0;right:0;top:0;margin:0;}
.btnarea.cmg {margin:5px 0;}
.btnarea.cmg .side { line-height:32px; vertical-align:middle; }

/* 검색 분류 */
.colgroup { display:-webkit-box; display:-ms-flexbox; display:flex; }
.colgroup .col { flex:1; }
.colgroup .col+.col { margin-left:10px; }
.colgroup .col-foot { height:40px; padding:3px 10px; background:#999; text-align:right; box-sizing:border-box; }
.colgroup .col-foot .btn-icon { background:none; border:none; }
.colgroup .col-foot .btn-icon[data-btn="add"]:before, .colgroup .col-foot .btn-icon[data-btn="add"]:after, .colgroup .col-foot .btn-icon[data-btn="del"]:before { background:#fff; }
.colgroup .sc-wrap { height:202px; }

.sc-wrap { max-height:202px; border:1px solid #999; overflow:auto; }
.group-list { overflow:hidden; }
.group-list > li { border-bottom:1px solid #ddd; margin-bottom:-1px; margin-top:1px; }
.group-list.col-3 > li { float:left; width:33.3% }
.group-list button { display:block; width:100%; padding:10px 10px 11px; text-align:left; line-height:18px; }
.group-list .active button { background:#fffbe9; }

/* 날짜선택 */
.calendar {position:relative;display:inline-block;}
.calendar > span {position:relative;display:inline-block;min-width:24px;text-align:center;}
.calendar input {padding-right:35px;width:140px;}
.calendar .ui-datepicker-trigger {position:absolute;right:1px;top:1px;overflow:hidden;display:inline-block;width:30px;height:30px;padding:0;line-height:30px;border-left:1px solid #d2d2d2;vertical-align:middle;text-indent:30px;white-space:nowrap;}
.calendar .ui-datepicker-trigger span {display:block;margin:-30px 0 0;width:30px;height:30px;background:url("../images/img_set1.jpg") no-repeat 0 -50px;}

.ui-datepicker {display:none;width:240px;margin:-1px 0 0;padding:10px;background:#fff;border:1px solid #3e332e;z-index:100 !important;}
.ui-datepicker .ui-datepicker-header {position:relative;margin:-10px -10px 10px;padding:0 0 1px;background:#3e332e;}
.ui-datepicker .ui-datepicker-header > a {display:none;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {line-height:30px;padding:0 32px 0 0;}
.ui-datepicker .ui-datepicker-header select {display:inline-block;width:120px;height:32px;padding:0 24px 0 8px;font-size:13px;line-height:20px;color:#666;border:none;background:#fff url("../images/img_form1.png") no-repeat 100% 50%;}
.ui-datepicker .ui-datepicker-header select ~ select {width:85px;margin-left:1px;}
.ui-datepicker th, .ui-datepicker td {font-size:13px;line-height:30px;text-align:center;vertical-align:middle;}
.ui-datepicker td span, .ui-datepicker td a {display:block;}
.ui-datepicker td a:hover {text-decoration:underline;}
.ui-datepicker td:first-child a, .ui-datepicker th:first-child a {color:#cb7e78;}
.ui-datepicker td.ui-datepicker-current-day a {color:#f36910;}
.ui-datepicker td.ui-datepicker-today a {background:#f36910;color:#fff;}
.ui-datepicker span.ui-state-default {color:#c2c2c2;}
.ui-datepicker a.ui-state-default {color:#010101;}
.ui-datepicker .ui-datepicker-buttonpane {position:absolute;right:0;top:0;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {display:none;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {overflow:hidden;display:block;cursor:pointer;border:none;width:32px;height:32px;margin:0;padding:0;background:#3e332e;white-space:nowrap;text-indent:-999px;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:before,
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:after {content:"";display:block;position:absolute;left:50%;top:50%;width:20px;height:2px;margin:-1px 0 0 -10px;background:#fff;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:before {-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close:after {-webkit-transform:rotate(45deg);transform:rotate(45deg);}