{% extends "fo/master/base" %}

{% block content %}

<div class="content">
	<!-- 모달 영역 -->
	<input type="checkbox" id="modal" class="hidden">
	
	<h1 class="title">{{ message('opr.news.title') }} </h1>

	<!-- ### 검색영역 ### -->
	<div class="search">
		<fieldset>
			<legend>검색</legend>
			<div class="fm-row">
				<span class="fm-item">
					<span class="label">카테 고리</span>
					<span class="fm-item">
						<select id="f-sch-sel" class="fm-sel" title="검색조건">
							<option value="" selected="selected" >전체</option>
							{% for item in items %}
								<option value="{{item.idx}}">{{item.ctgry}}</option>
							{% endfor %}
						</select>
						
						<span id="keywordBox" ></span>
					</span>
				</span>
			</div>
			 
			<div class="fm-row">
				<span class="fm-item">
					<span class="label">매체 종류</span>
					<span class="fm-item">
						<select id="f-typ-sel" class="fm-sel" title="검색조건">
							<option value="" selected="selected" >전체</option>
							{% for it in item %}
								<option value="{{it.typ}}">{{it.typ}}</option>
							{% endfor %}
						</select>
					</span>
				</span>
					
			
			</div>
			
			<div class="fm-row">
				<span class="label">직접 검색</span>
				<div class="calendar">
                  <span><input type="text" class="fm-ipt" placeholder="YYYY-MM-DD" title="시작일" id="startDate" /></span>
                  <span>~</span>
                  <span><input type="text" class="fm-ipt" placeholder="YYYY-MM-DD" title="종료일" id="endDate"  /></span>
                </div>
				<span class="fm-item">
					<input type="text" id="search_word" name="search_word" class="fm-ipt w2" title="검색어" />
					<button type="button" id="btnSearch" class="btn-t">검색</button>
				</span>
				<span class="fm-item">
					<input type="checkbox" id="is_paper" class="fm-chk" name="is_paper">
					<span class="label">지면 기사</span>
				</span>
				<span class="fm-btn"><button type="button" class="btn-t" id="biModalButton">visualize</button></span>
			</div>
			
		</fieldset>
	</div>
	
	<!--  
	{% if checkAuth('CM03D01C01',0) %}
	<div class="btn-row">
		<span><button type="button" class="btn-t" id="biModalButton">visualize</button></span>
	</div>
	{% endif %}
	-->
	
	
	<div class="cont">
      
<!--       <form id="frm"> -->
<!--         <input type="hidden" name="currentPageNo" id="currentPageNo" value="{{ params.currentPageNo is null ? '1' : params.currentPageNo }}"> -->
<!--       </form> -->
      
      <form id="listFrm" name="listFrm">
        <input type="hidden" id="list-currentPageNo"	name="currentPageNo" value="{{ params.currentPageNo is null ? '1' : params.currentPageNo }}" />
        <input type="hidden" id="list-showyn" 	   	name="search_showyn" value="{{ params.search_showyn }}" />
        <input type="hidden" id="list-search_word" 	name="srchTxt" 		value="{{ params.search_word }}" /><!-- search_word -->
        <input type="hidden" id="list-f-sch-sel" 	name="ctgry" 		value="{{ params.ctgry }}" /><!-- search_word -->
        <input type="hidden" id="list-strKey" 		name="strKey" 		value="{{ params.strKey }}" />
        <input type="hidden" id="list-startDate" 	name="hstartDate" 	value="{{ params.hstartDate }}" />
        <input type="hidden" id="list-endDate" 		name="hendDate" 	value="{{ params.hendDate }}" />
        <input type="hidden" id="list-strNo" 		name="idx" />
        <input type="hidden" id="list-is_paper"		name="isPaper"		value="{{ params.isPaper }}" />
        <input type="hidden" id="list-typ"		name="typ"		value="{{ params.typ }}" />
        <input type="hidden" id="list-fk_keyword" 	name="fkKeyword" value="{{ params.fkKeyword }}"/>
      </form>
    </div>
    
	<span id="js-list"></span>
	
	
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/app/js/rpa/oprt/news/news.js"></script>

{% endblock %}