
<div>
	<p class="txt-cnt">총 <em>{{result.data.params.totalRecordCount}}</em>건</p>
	<div class="tbl-t1">
		<table>
			<caption>전자공고 목록</caption>
			<colgroup>
				<col span="2" style="width:60px;"/>
				<col/>
				<col style="width:110px;"/>
				<col span="2" style="width:80px;"/>
				<col style="width:150px;"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">선택</th>
					<th scope="col">NO</th>
					<th scope="col">제목</th>
					<th scope="col">노출상태</th>
					<th scope="col">첨부파일</th>
					<th scope="col">조회수</th>
					<th scope="col">등록일</th>
				</tr>
			</thead>
			<tbody>
			{% if result.data.item is empty() %}
				<tr>
					<td colspan="7" class="nodata">검색된 데이터가 없습니다.</td>
				</tr>
			{% else %}
				{% for item in result.data.item %}
				{% set no = result.data.params.totalRecordCount - (result.data.params.currentPageNo - 1) * result.data.params.recordCountPerPage - loop.index %}
			 	<tr>
					<td>
						<span class="fm-item"><input type="checkbox" name="delCheckBox-list" data-add="{{item.idx}}"/></span>
					</td>
					<td>{{no}}</td>
					<td class="tit"><a href="javascript:fnGoView({{item.idx}});" data-add="{{item.idx}}">{{item.title}}</a></td>
					{% if item.showyn == 'Y' %}<td>노출</td>
					{% else %}<td>미노출</td>
					{% endif %}
					<td>O</td>
					<td>{{no}}</td>
					<td>{{item.regdate | date("yyyy.MM.dd") }}</td>
				</tr>
				{% endfor %}
			{% endif %} 
			</tbody>
		</table>
	</div>


	<div class="btnarea">
		 {% if result.data.params.totalRecordCount > 0 %} 
			<!-- paging // -->
			  {% include "../inc/pagination" %}
			<!-- // paging -->
		 {% endif %}
		
		<div class="side">
			<button id="invest-list-del" type="button" class="btn-t-2">삭제</button>
		</div>
		<button id="invest-add" type="button" class="btn-t-2 c1">등록</button>
	</div>
	
</div>
