@charset "UTF-8";

.board-wrap {
    .board-list {
        border-top: 0.2rem solid $gray8;
        .board-list__item {
            padding: 4.8rem 0;
            border-bottom: 1px solid $gray3;
            a{
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: space-between;
                font-family: 'Pretendard';
                .board-num {
                    @include fontSize('fontS02');
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 13rem;
                    color: $gray6;
                    text-align: center;
                    &.board-date{
                        width: 15.6rem;
                    }
                }
                .board-title {
                    @include ellipsis2;
                    @include fontSize('fontS06');
                    width: 104.9rem;
                    color: $gray8;
                }
            }
            &:hover{
                background: #f5faf8;
                a{
                    .board-num {
                        color: #25867d;
                    }
                    .board-title {
                        color: #25867d;
                    }
                }
            }
        }
    }

    // faq 게시판
    &.board-type02{
        .faq-wrap {
            display: none;
            background: $gray1;
            // display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            margin-bottom: -4.8rem;
        }
        .board-list__item{
            &:hover{
                background: $white;
            }
        }
    }
}