@charset "UTF-8";

.board-wrap {
    .board-list {
        border-top: 0.2rem solid $gray8;
        .board-list__item {
            padding: 4.8rem 0;
            border-bottom: 1px solid $gray3;
            a{
                display: flex;
                align-content: center;
                justify-content: space-between;
                font-family: 'Pretendard';
                .board-num {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 13rem;
                    font-size: 1.6rem;
                    color: $gray6;
                    text-align: center;
                    &.board-date{
                        width: 15.6rem;
                    }
                }
                .board-title {
                    @include ellipsis2;
                    width: 104.9rem;
                    font-size: 2.4rem;
                    color: $gray8;
                }
            }
            &:hover{
                background: #f5faf8;
                a{
                    .board-num {
                        color: #25867d;
                    }
                    .board-title {
                        color: #25867d;
                    }
                }
            }
        }
    }
}