@charset "UTF-8";
.btn-wrap {
    display: inline-block;
    // icon 있는 버튼
    &.btn-has-icon {
        .btn-has-icon__parent {
            position: relative;
            .btn-icon{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                &>img {
                    width: 100%;
                }

                &.icon-attach {
                    left: 2.8rem;
                    width: 1.8rem;
                    height: 1.8rem;
                }
                &.icon-print{
                    left: 4.2rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
                // &.icon-link {
                //     left: 50%;
                //     transform: translatex(-50%);
                //     width: 2.4rem;
                //     height: 2.4rem;
                // }
            }
        }
        
    }


    // 170*48 버튼 공통 스타일
    .btn{
        display: inline-block;
        position: relative;
        overflow: hidden;
        min-width: 17rem;
        height: 4.8rem;
        line-height: 4.8rem;
        border: 0.1rem solid $gray3; //defalt border
        color: $gray8;
        font-family: 'Pretendard';
        font-size: 1.6rem;
        text-align: center;
        cursor: pointer;
    }

    // 320*48 버튼 공통 스타일
    .btn-lg {
        min-width: 32rem;
    }
    
    // 버튼 그린 색상
    .btn-green {
        background: $accent;
        border: none;
        color: $white;
    }

    //버튼 비활성화
    .btn-disabled,
    button:disabled{
        background: $gray1;
        color: #8d8d8d;
        cursor: default;
    } 

    // 팝업 확인 버튼 스타일
    .btn-confirm {
        min-width: 38.4rem;
    }

    // 탑 버튼
    .btn-top {
        width: 6rem;
        height: 6rem;
        background: url(/assets/images/common/btn_top.svg) no-repeat center;
        background-size: contain;
        font-size: 0;
        cursor: pointer;
    }
    
    // 프린트 버튼
    .btn-print {
        padding-left: 7.4rem;
        text-align: left;
    }

    // 목록 버튼
    .btn-list {
        min-width: 21rem;
        height: 6.4rem;
        line-height: 6.4rem;
        font-size: 2rem;
    }

    // 제출 버튼
    .btn-submit {
        min-width: 21rem;
        height: 8rem;
        line-height: 8rem;
        font-size: 2rem;
    }

    // 링크 버튼
    // .btn-link{
    //     width: 5.4rem;
    //     height: 5.4rem;
    //     min-width: auto;
    //     border-radius: 50%;
    //     font-size: 0;
    //     border: none;
    // }
}
