@charset "UTF-8";
// icon 있는 버튼
.btn-has-icon {
    .btn-has-icon__parent {
        position: relative;
        .btn-icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &>img {
                width: 100%;
            }

            &.icon-attach {
                left: 2.8rem;
                width: 1.8rem;
                height: 1.8rem;
            }
            &.icon-print{
                left: 4.2rem;
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
    
}

// 170*48 버튼 공통 스타일
.btn{
    @include fontSize('fontS02');
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-width: 17rem;
    height: 4.8rem;
    line-height: 4.8rem;
    border: 1px solid $gray3; //defalt border
    color: $gray8;
    text-align: center;
}

// 320*48 버튼 공통 스타일
.btn-lg {
    min-width: 32rem;
}

// 버튼 가운데정렬
.btn-center {
    display: flex;
    justify-content: center;
}

// 팝업 확인 버튼 스타일
.btn-confirm {
    min-width: 38.4rem;
}

// 버튼 그린 색상
.btn-green {
    background: $accent;
    border: none;
    color: $white;
}

//버튼 비활성화
.btn-disabled,
button:disabled{
    background: $gray1;
    color: #8d8d8d;
    cursor: default;
} 


// 탑 버튼
.btn-top {
    width: 6rem;
    height: 6rem;
    background-image: url(/assets/images/common/btn_top.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #2A2F35;
    
}

// 링크 버튼
.btn-contents-hover{
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #2A2F35;
    background-image: url(/assets/images/common/hover_contents_circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.btn-link{
    display: inline-block;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    background-color: $white;
    background-image: url(/assets/images/common/btn_link.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &:hover{
        background-color: $accent;
        background-image: url(/assets/images/common/btn_link_hover.svg);
    }
}

// 프린트 버튼
.btn-print {
    padding-left: 7.4rem;
    text-align: left;
}

// 목록 버튼
.btn-list {
    @include fontSize('fontS04');
    min-width: 21rem;
    height: 6.4rem;
    line-height: 6.4rem;
    border: 1px solid $gray6;
}

// 자세히보기 버튼
.btn-more{
    @include fontSize('fontS03');
    min-width: 38.4rem;
    height: 6rem;
    font-weight: 500;
}

// 제출 버튼
.btn-submit {
    @include fontSize('fontS04');
    min-width: 21rem;
    height: 8rem;
    line-height: 8rem;
}


// 서브 모달 팝업
.pop-wrap{
    display: inline-block;
    max-width: 42.4rem;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.08);
    background: $white;
    padding: 3.4rem 2rem 2rem;
    .pop-title{
        @include fontSize('fontS06');
        font-weight: 700;
        color: $gray8;
        text-align: center;
        margin-bottom: 2rem;
    }
    .pop-text{
        @include fontSize('fontS03');
        color: $gray6;
        padding-bottom: 6rem;
        max-width: 36rem;
    }
    // 기본 텍스트 팝업
    &.pop-ty01{
        .pop-text{
            text-align: center;
        }
    }
    // 리스트 팝업
    &.pop-ty02{
        .pop-text{
            @include fontSize('fontS01');
            padding-bottom: 3rem;
            .pop-list:not(:first-of-type){
                margin-top: 3rem;
            }
        }
    }
    // 토스트 팝업
    &.pop-toast{
        box-shadow: none;
        opacity: 0;
        transform: translateY(10%);
        transition: all 0.7s;
        &.show{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
/*file download*/
.btn-download{
    color:$gray6;
    @include fontSize('fontS03');
    display:inline-flex;   
    i{
        width:2.4rem;
        height:2.4rem;
        flex:0 0 2.4rem;
        background-image: url(/assets/images/common/btn_gnb_global_open_b.svg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size:2.4rem 2.4rem;
        & + span{
            margin-left:1rem;
            text-decoration:underline;
        }
    }
}
@include response('tablet') {
    /*file download*/
    .btn-download{
        @include fontSize('fontS02');
        background-size:2rem 2rem;
        i{
            width:2rem;
            height:2rem;
            flex:0 0 2rem;
            background-size:2rem 2rem;
            & + span{
                margin-left:1rem;
            }
        }
    }
}
@include response('mobile') {
    // 탑 버튼
    .btn-top {
        width: 4.8rem;
        height: 4.8rem;
        background-image: url(/assets/images/common/btn_top.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: #2A2F35;
    }
    /*file download*/
    .btn-download{
        @include fontSize('fontS01');
        i{
            width:1.6rem;
            height:1.6rem;
            flex:0 0 1.6rem;
            background-size:1.6rem 1.6rem;
            & + span{
                margin-left:0.8rem;
            }
        }
    }
}