@charset "UTF-8";

// input 검색폼
input[type="text"]::-ms-clear {
    display: none;
}
// required 표시
.input-required {
    .input-title::after{
        @include fontSize('fontS03');
        content: '*';
        display: inline-block;
        color: $accent;
        margin-left: 0.4rem;
    }
}    

.input-wrap{
    .input-text{
        display: flex;
        align-items: center;
        position: relative;
        width: 45.4rem;
        &.input-half__full{
            width: 100%;
            .input-text__wrap{
                width: 100%;
            }
        }
    
        // email input
        &.input-email{
            width: 81.4rem;
            .input-text__wrap{
                display: flex;
            }
            .input-default{
                width: 30rem;
                
            }
            .input-email__at{
                display: inline-block;
                margin: 0 1.6rem;
                height: 5rem;
                line-height: 5rem;
            }
        }
    
        // clear 버튼 인풋
        &.input-text-clear {
            .input-default {
                padding-right: 5rem;
                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }
    
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }
            }
    
            // 검색어 삭제버튼
            .btn-clear {
                position: absolute;
                top: 50%;
                right: 1.8rem;
                width: 2.4rem;
                height: 2.4rem;
                transform: translateY(-50%);
                font-size: 0;
                background: url(/assets/images/common/btn_search_clear.svg) no-repeat center;
                cursor: pointer;
            }
        }
    
        // 검색 인풋
        &.input-text-search {
            width: 42rem;
            .input-default {
                border: none;
                border-bottom: 1px solid $gray3;
                min-width: 42rem;
                min-height: 6rem;
                padding-left: 0;
                padding-right: 7rem;
                &:focus{
                    border-color: $gray5;
                }
            }
            .btn-clear {
                right: 4.4rem;
            }
            .search-btn {
                position: absolute;
                top: 50%;
                right: 0;
                width: 2.4rem;
                height: 2.4rem;
                transform: translateY(-50%);
                font-size: 0;
                background: url(/assets/images/common/btn_input_search.svg) no-repeat center;
                cursor: pointer;
            }
        }

        // textarea
        &.input-textarea {
            width: 100%;
            align-items: unset;
            .input-text__wrap{
                width: 100%;
            }
            .input-default{
                @include fontSize('fontS03');
                min-height: 36rem;
                padding: 1.8rem;
            }
        }

    }

    // 체크박스
    .input-wrap__check{
        
        .input-check{
            display: none;
        }
        .input-check:checked{
            & + .checkbox-text .checkbox-icon{
                background: $accent;
                &::before{
                    width: 0.8rem;
                    opacity: 1;
                }
            }
        }
        .checkbox-text{
            @include fontSize('fontS04');
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 3.2rem;
            .checkbox-icon{
                display: inline-block;
                position: absolute;
                left: 0;
                background: $white;
                border: 1px solid #ddd;
                width: 2.4rem;
                height: 2.4rem;
                transition: all 0.2s;
                &::before{
                    content: '';
                    opacity: 0;
                    display: inline-block;
                    position: absolute;
                    left: 0.6rem;
                    top: 0.6rem;
                    width: 0;
                    height: 0.4rem;
                    border: 0.2rem solid $white;
                    border-top: 0;
                    border-right: 0;
                    transform: rotate(-45deg);
                    transition: all 0.3s;
                }
            }
            .check-icon{
                display: inline-block;
                background: red;
                position: absolute;
            }
        }
    }
}

// 기본 인풋 박스
.input-default {
    @include fontSize('fontS03');
    width: 100%;
    min-width: 30rem;
    min-height: 5rem;
    outline: none;
    font-family: 'Pretendard';
    border: 1px solid $gray3;
    color: $gray8;
    padding: 0 1.8rem;

    &::placeholder {
        @include fontSize('fontS03');
        color: $gray4;
    }
    &:-ms-input-placeholder {
        color: $gray4;
    }

    &::-ms-input-placeholder {
        color: $gray4;
    }

    &:focus {
        border-color: $gray5;

        &::placeholder {
            color: $gray2;
        }
        &:-ms-input-placeholder {
            color: $gray2;
        }

        &::-ms-input-placeholder {
            color: $gray2;
        }

    }
}
.input-title {
    @include fontSize('fontS03');
    display: inline-block;
    color: $gray8;
    width: 15.4rem;
}

// 인풋에러
.input-error{
    .input-text__wrap{
        position: relative;
        .input-default{
            border-color: $error;
        }
        .input-error__message{
            @include fontSize('fontS00');
            display: block;
            position: absolute;
            top: 100%;
            z-index: 1;
            color: $error;
            // margin-top: 0.8rem;
        }
    }
}

// select
.select-with-title {
    display: flex;
    align-items: center;
}

.select-wrap {
    display: inline-block;

    .select1 {
        @include fontSize('fontS03');
        min-width: 31rem;
        min-height: 5rem;
        font-family: 'Pretendard';
        color: $gray8;
        border: 1px solid $gray3;
        padding: 0 1.8rem;
        background-image: url('/assets/images/common/btn_gnb_global_open_b.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 2rem) center;
        background-size: 2.4rem 2.4rem;

        // 612*50 select
        &.select-lg {
            min-width: 61.2rem;
        }
    }
}

// 페이징
.paging-wrap{
    display: flex;
    .paging-list{
        display: flex;
        justify-content: space-between;
        width: 22.2rem;
        height: 3.6rem;
        .paging-list__item {
            a{
                @include fontSize('fontS04');
                display: inline-block;
                line-height: 3.6rem;
                padding: 0 0.2rem;
                color: $gray4;
                &.active{
                    font-weight: bold;
                    color: $gray8;
                    border-bottom: 0.2rem solid $gray8;
                }
            }
        }
    }
    .btn-arr {
        display: inline-block;
        padding: 0;
        font-size: 0;
        width: 3.6rem;
        height: 3.6rem;
        margin-left: 0;
        &.first{
            background: url(/assets/images/common/btn_page_prev_double.svg) no-repeat center;
            margin-right: 0.6rem;
        }
        &.prev{
            background: url(/assets/images/common/btn_page_prev.svg) no-repeat center;
            margin-right: 5rem;
        }
        &.next{
            background: url(/assets/images/common/btn_page_prev.svg) no-repeat center;
            margin-left: 5rem;
            transform: rotate(180deg);
        }
        &.last{
            background: url(/assets/images/common/btn_page_prev_double.svg) no-repeat center;
            margin-left: 0.6rem;
            transform: rotate(180deg);
        }
    }
}

// 파일첨부 input
.btn-input-wrap {
    input {
        display: none;
    }
    .btn-input-wrap__file {
        @include fontSize('fontS02');
        display: inline-block;
        min-width: 13.6rem;
        min-height: 4.8rem;
        padding: 1.2rem 0 0 5.4rem;
        border: 1px solid $gray6;
        cursor: pointer;
        font-family: 'Pretendard';
        color: $gray8;
        text-align: left;
    }
}

