@charset "UTF-8";

input[type="text"]::-ms-clear {
    display: none;
}
// required 표시
.required {
    &::after{
        @include fontSize('fontS03');
        content: '*';
        display: inline-block;
        color: $accent;
        margin-left: 0.4rem;
    }
}
.type02{
    display: flex;
    .input-text{
        width: 50%;
    }
}
.input-text__wrap{
    position: relative;
}
.input-text{
    display: flex;
    align-items: flex-start;
    position: relative;
    width:100%;

    // 검색 인풋
    &.input-text-search {
        .input-default {
            border: none;
            border-bottom: 1px solid $gray3;
            min-width: 42rem;
            min-height: 6rem;
            padding-left: 0;
            padding-right: 7rem;
            &:focus{
                border-color: $gray5;
            }
        }
        .btn-clear {
            top: 50%;
            right: 4.4rem;
            transform: translateY(-50%);
        }
        .search-btn {
            position: absolute;
            top: 50%;
            right: 0;
            width: 2.4rem;
            height: 2.4rem;
            transform: translateY(-50%);
            background: url(/assets/images/common/btn_input_search.svg) no-repeat center;
            
        }
    }
}

// textarea
.input-textarea {
    display: flex;
    align-items: flex-start;
    .input-text__wrap{
        width: 100%;
    }
    .input-default{
        @include fontSize('fontS03');
        min-height: 36rem;
        padding: 1.8rem;
        width: 100%;
    }
}
// email input
.input-email {
    width: 100%;
    .input-text__wrap {
        display: flex;

        // 이메일에 btn-clear 붙는 경우
        &.input-text-clear {
            .btn-clear {
                right: 3.4rem;
            }
        }
    }
    .input-email-at {
        display: inline-block;
        margin: 0 1.6rem;
        height: 5rem;
        line-height: 5rem;
    }

    .input-email-text {
        display: none;
        margin-right: 1.6rem;

        &.show {
            display: block;
        }
    }
}
// 체크박스
.input-wrap-check{
    display: inline-block;
    .input-check{
        display: none;
    }
    .input-check:checked{
        & + .checkbox-text .checkbox-icon{
            background: $accent;
            &::before{
                width: 0.8rem;
                opacity: 1;
            }
        }
    }
    .checkbox-text{
        @include fontSize('fontS04');
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 3.2rem;
        .checkbox-icon{
            display: inline-block;
            position: absolute;
            left: 0;
            background: $white;
            border: 1px solid #ddd;
            width: 2.4rem;
            height: 2.4rem;
            transition: all 0.2s;
            &::before{
                content: '';
                opacity: 0;
                display: inline-block;
                position: absolute;
                left: 0.6rem;
                top: 0.6rem;
                width: 0;
                height: 0.4rem;
                border: 0.2rem solid $white;
                border-top: 0;
                border-right: 0;
                transform: rotate(-45deg);
                transition: all 0.3s;
            }
        }
        .check-icon{
            display: inline-block;
            background: red;
            position: absolute;
        }
    }
}

// 기본 인풋 박스
.input-default {
    @include fontSize('fontS03');
    min-width: 30rem;
    min-height: 5rem;
    outline: none;
    border: 1px solid $gray3;
    color: $gray8;
    padding: 0 1.8rem;

    &::placeholder {
        @include fontSize('fontS03');
        color: $gray4;
    }
    &:-ms-input-placeholder {
        color: $gray4;
    }

    &::-ms-input-placeholder {
        color: $gray4;
    }

    &:focus {
        border-color: $gray5;

        &::placeholder {
            color: $gray2;
        }
        &:-ms-input-placeholder {
            color: $gray2;
        }

        &::-ms-input-placeholder {
            color: $gray2;
        }

    }
}
.input-title {
    @include fontSize('fontS03');
    display: inline-block;
    color: $gray8;
    width: 30%;
    padding-top: 1.5rem;
}

// clear 버튼 인풋
.input-text-clear{
    .input-default {
        padding-right: 5rem;
        &::-ms-clear,
        &::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
    // 검색어 삭제버튼
    .btn-clear {
        position: absolute;
        top: 1.4rem;
        right: 1.8rem;
        width: 2.4rem;
        height: 2.4rem;
        background: url(/assets/images/common/btn_search_clear.svg) no-repeat center;
    }
}

// 인풋에러
.input-error__message{
    display: none;
}
.input-error{
    position: relative;
    flex-direction: column;
    .input-default{
        border-color: $error;
    }
    .input-error__message{
        @include fontSize('fontS00');
        display: block;
        color: $error;
        margin-top: 1rem;
        // display: block;
        // position: absolute;
        // top: 100%;
        // margin-top: 0.8rem;
    }
    &.select-wrap{
        .select1{
            border-color: $error;
        }
    }
}

// select
.select-with-title {
    display: flex;
    align-items: flex-start;
}

.select-wrap {
    .select1 {
        @include fontSize('fontS03');
        min-width: 31rem;
        min-height: 5rem;
        color: $gray4;
        border: 1px solid $gray3;
        padding: 0 1.8rem;
        background-image: url('/assets/images/common/btn_gnb_global_open_b.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 2rem) center;
        background-size: 2.4rem 2.4rem;

        // 612*50 select
        &.select-lg {
            min-width: 61.2rem;
        }
        &:focus{
            color: $gray8;
        }
    }
}
// 파일첨부 input
.btn-input-wrap {
    input {
        display: none;
    }
    .btn-input-wrap__file {
        @include fontSize('fontS02');
        display: inline-block;
        min-width: 13.6rem;
        min-height: 4.8rem;
        padding: 1.2rem 0 0 5.4rem;
        border: 1px solid $gray6;
        color: $gray8;
        text-align: left;
        cursor: pointer;
    }
}