@charset "UTF-8";

// 게시판 탭메뉴
.tab-wrap {
    .tab-list {
        &::after{
            content: '';
            display: block;
            clear: both;
        }
        .tab-list__item {
            float: left;
            padding: 0 2rem;
            a{
                display: inline-block;
                padding-bottom: 0.4rem;
                font-size: 2rem;
                font-family: 'Pretendard';
                &.on{
                    font-weight: bold;
                    border-bottom: 0.2rem solid $gray8;
                }
            }
        }
    }
}